<span [ngSwitch]="type">
  <span *ngSwitchCase="fileMimeType.PDF">
    <pdf-viewer [src]="src" [show-all]="true"></pdf-viewer>
  </span>
  <span *ngSwitchCase="fileMimeType.JPEG">
    <img [src]="src" class="img-responsive margin-auto">
  </span>
  <span *ngSwitchCase="fileMimeType.PNG">
    <img [src]="src" class="img-responsive margin-auto">
  </span>
  <span *ngSwitchCase="fileMimeType.MP4">
    <video controls width="100%">
      <source [src]="src" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </span>
  <span *ngSwitchDefault>
    סוג קובץ לא נתמך
  </span>
</span>